.post-content p {
  margin-top: 30px !important;
  margin-bottom: 30px !important;
}

code {
  /* font-family: "Source Serif 4" !important; */
  font-size: 13px !important;
  line-height: 2em !important;
  letter-spacing: 0.05em;
  font-weight: 200 !important;
}

.gt-comment-content {
  background-color: #ffffffec !important;
  border-radius: 5px;
}

.terms-tags a sup {
  position: absolute !important;
  /* left: -10px !important; */
}

.post-date {
  font-size: 14px;
  padding: 10px 0;
}

.sticky-element {
  background-color: var(--theme);
  position: sticky;
  top: 0;
  z-index: 999!important;
}

html {
  overflow: auto !important;
}