.post-content p:first-child {
  padding-top: 0 !important;
}
.post-content p:last-child {
  padding-bottom: 0 !important;
}

.post-content p {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.post-content pre {
  /* border-radius: 4px !important; */
  background: none !important;
}
.post-content pre code {
  border: 0;
  border-radius: 4px !important;
  font-size: 14px !important;
  line-height: 1.5em !important;
  width: 100%;
}

code {
  /* font-family: "Source Serif 4" !important; */
  font-size: 18px !important;
  line-height: 2em !important;
  letter-spacing: 0.05em;
  font-weight: 200 !important;
  border: 1px solid #f3f1f156;
}

.gt-comment-content {
  background-color: #ffffffec !important;
  border-radius: 5px;
}

.terms-tags a sup {
  position: absolute !important;
  /* left: -10px !important; */
}

.dark .post-date {
  color: rgb(236, 236, 236) !important;
}

.post-date {
  font-size: 14px;
  padding: 0 0 10px 0;
  color: black !important;
}

.sticky-element {
  background-color: var(--theme);
  position: sticky;
  top: 0;
  z-index: 999!important;
}

html {
  overflow: auto !important;
}


.post-content blockquote {
  background-color: #d9e5fbab!important;
  /* border-top-right-radius: 4px !important;
  border-bottom-right-radius: 4px !important; */
  border-radius: 4px !important;
}

.dark .post-content blockquote {
  background-color: #000000d1!important;
  /* border-top-right-radius: 4px !important;
  border-bottom-right-radius: 4px !important; */
}

blockquote {
  background: #f9f9f9 !important;
  border-left: 6px solid #ccc !important;
  margin: 1.5em 10px !important;
  padding: .5em 10px !important;
  quotes: "\201C""\201D""\2018""\2019";
  font-size: .9em;
  color: #2d2d2e;
}

blockquote:before {
  color: #ccc !important;
  content: open-quote;
  font-size: 3em;
  line-height: .1em;
  margin-right: .25em;
  vertical-align: -.4em;
}

blockquote p {
  display:inline;
  color: var(--primary) !important;
}


.post-content code {
  display: inline-block !important;
  line-height: 100% !important;
}

.post-content li {
  margin-left: 20px !important;
}

thead {
  background-color: #b4d6ff!important;
}

tbody {
  background-color: #e8f1ff !important;
}

.post-content table th, .post-content table:not(.highlighttable,.highlight table,.gist .highlight) td {
  min-width: 80px;
  padding: 12px 8px;
  line-height: 1.5;
  border-bottom: 1px solid rgb(0 0 0 / 0.041);
}

.post-content table td:not(td:last-child),.post-content table th:not(th:last-child) {
  border-right: 1px solid rgba(0, 0, 0, 0.041);
}

.dark thead {
  background-color: #000000d1!important;
}

.dark tbody {
  background-color: #333333d1!important;
}


.page-footer {
  padding: 20px 0 !important;
}

table {
  border-collapse: collapse !important;
  width: 100%; /* 设置表格宽度为100% */
}

th, td {
  border: 1px solid rgb(178, 198, 211) !important; /* 添加单元格的边框 */
  padding: 8px !important;
  text-align: left !important;
  width: 100% !important;
  font-size: 16px !important;
}

.dark th, .dark td {
  border: 1px solid rgb(82, 88, 93) !important;
}

th:first-child, td:first-child {
  border-left: 0 !important;
}

th:last-child, td:last-child {
  border-right: 0 !important;
}